<html>
<head>
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<script>
  // html dom 이 다 로딩된 후 실행된다.
  $(document).ready(function(){
      // memu 클래스 바로 하위에 있는 a 태그를 클릭했을때
      $(".nav-item>a").click(function(){
          // 현재 클릭한 태그가 a 이기 때문에
          // a 옆의 태그중 ul 태그에 hide 클래스 태그를 넣던지 빼던지 한다.
          $(this).next("ul").toggleClass("hide");
      });
  });
  $(document).ready(function(){
      // memu 클래스 바로 하위에 있는 a 태그를 클릭했을때
      $(".nav-item2>a").click(function(){
          // 현재 클릭한 태그가 a 이기 때문에
          // a 옆의 태그중 ul 태그에 hide 클래스 태그를 넣던지 빼던지 한다.
          $(this).next("ul").toggleClass("hide");
      });
  });
</script>
<body>

  <script type="text/javascript">
    function iframe_url(link){
      document.getElementById('board_iframe').src = link;
    }
    function dd() {
      alert("작업완료시 꼭 로그아웃해주세요!");
    }
  </script>
  <style type="text/css">
    body {
      font:13px/1.8 Arial, Helvetica, sans-serif;
    }
    .frame {
      width: 1500px;
      margin: 0 auto;
      border: 1px solid #aaa;
    }
    .container {
      overflow: hidden;
    }
    .nav {
      float: left;
      width: 300px;
      margin-right: 50px;
      }
    .nav-list {
    margin: 0;
    padding: 10px 0;
    }
    .nav-item {
    margin: 4px 0;
    }
    .nav-item a{cursor:pointer;}
    .nav-item .hide{display:none;}
    .nav-item2 a{cursor:pointer;}
    .nav-item2 .hide{display:none;}
    .nav-link {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
    }
    .nav-link:hover {
    color: #5457de;
    }
    .content {
      float: left;
      width: 1000px;
    }

  </style>
  <div class="frame">

  <div class="container">
    <div class="nav">
      <ul class="nav-list">
        <li class="nav-item" style="color:red">※ 주의 ※</li>
        <li class="nav-item" >이 페이지는 데이터베이스 관리를 위한 관리자 전용 페이지이므로 다른 사용자가 무단으로 데이터를 변경하는 등의 사고를 막기 위해 작업을 완료하신 후에는 반드시 로그아웃 하시기 바랍니다.</li>
        <li class="nav-item" >────────────────────────────────</li>
        <li class="nav-item">
          <a>▼ 데이터</a>
          <ul class="hide">
            <li><a href="" class="nav-link">메인 슬라이드 변경(구현X)</a></li>
            <li><a href="javascript:iframe_url('/mod_professorview');" class="nav-link">PROFESSOR</a></li>
            <li class="nav-item2">
              <a class="nav-link">▼ MEMBERS</a>
              <ul class="hide">
                <li><a href="javascript:iframe_url('/mod_membersaddview');" class="nav-link">추가</a></li>
                <li><a href="javascript:iframe_url('/mod_memselect');" class="nav-link">변경/삭제</a></li>
              </ul>
            </li>
            <li class="nav-item2">
              <a class="nav-link">▼ PUBLICATION</a>
              <ul class="hide">
                <li><a href="javascript:iframe_url('/mod_publicationaddview');" class="nav-link">추가</a></li>
                <li><a href="javascript:iframe_url('/mod_pubselect');" class="nav-link">변경/삭제</a></li>
              </ul>
            </li>
            <li class="nav-item2"><a class="nav-link">▼ RESEARCH</a>
              <ul class="hide">
                <li><a href="javascript:iframe_url('/mod_researchaddview');" class="nav-link">추가</a></li>
                <li><a href="javascript:iframe_url('/mod_resselect');" class="nav-link">변경/삭제</a></li>
              </ul>
            </li>
            <li class="nav-item2">이미지 관련 데이터를 변경 시 이미지를 바꾸지 않는 경우에도 이미지를 다시 업로드 해주셔야 변경 완료됩니다.</a>
            </li>
          </ul>
        </li>
        <li><a href="javascript:iframe_url('/adminPwModview');" class="nav-link">admin 비밀번호 변경</a></li>
        <li class="nav-item">
          <a href="/admin" class="nav-link">새로고침</a></li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">로그아웃</a></li>
        <li class="nav-item">
          <a href="javascript:iframe_url('/dev_notice');" class="nav-link">HOME(ADMIN MAIN)</a></li>
        <li class="nav-item">
          <a href="/" class="nav-link" onclick="dd();">HOME(GENESYS MAIN)</a></li>
        <li class="nav-item" >────────────────────────────────</li>
        <li class="nav-item" >개선 사항이나 사용법 등 의견이 있으신 경우 아래 연락처로 연락 바랍니다.</li>
        <li class="nav-item" >E-mail : newlhh2@naver.com</li>
        <li class="nav-item" >Mobile Phone : 010-7674-9885</li>
        <li class="nav-item" ><H3>This website was developed by Lee Hyun-ho, a member of CUSTOM LAB.</H3></li>
      </ul>
    </div>
    <!-- //nav -->
    <div class="content">
      <iframe name="board_iframe" id="board_iframe" src="/dev_notice" frameborder="0" width="100%" scrolling="no" height="1000px"></iframe>
    </div>
    <!-- //content -->
  </div>
  <!-- //container -->
</div>
<!-- //frame -->

</body>
</html>
