		<div class="inner">
			<img src="/images/main/banner3.jpg" alt="Genesy Lab." class="footer_logo" />
			<div class="information">
				<address>
					<span>Genesy Lab., </span>
					<span class="md10">(우)28644 충북 청주시 서원구 충대로 1(개신동) 충북대학교 공과대학 기계공학부</span>
					<br/><span>Tel) (043)261-2441, 2448 ㅣ Fax) (043)263-2441, 2448</span>
				</address>
				<p class="copyright">Copyright by Genesys Lab. All Rights Reserved.</p>
			</div><!--// information -->
		</div><!--// inner -->
