		<div class="inner">
			<img src="/images/main/banner3.jpg" alt="Genesys Lab." class="footer_logo" />
			<div class="information">
				<address>
					<span>Genesys Lab., </span>
					<span class="md10">충청북도 청주시</span>
					<br/><span>Tel) 000-000-0000 ㅣ Fax) 000-000-0000</span>
				</address>
				<p class="copyright">Copyright by Genesys Lab All Rights Reserved.</p>
			</div><!--// information -->
		</div><!--// inner -->
	</div><!--// footer -->
