<meta name="viewport" content="user-scalable=yes, maximum-scale=1.0, minimum-scale=0.25, width=1200">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- 호환성 보기 제거 메타 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- 사이트 전체 기본 문자셋 지정 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- 캐쉬 사용하지 않음 메타 -->
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Pragma" content="no-cache" />

<!-- <meta name="robots" content="noindex,nofollow"> -->

<!-- 공통 CSS 파일 -->
<link rel="stylesheet" href="/GnCommon/css/common.css" type="text/css">

<!-- 커스텀 페이징 전용 CSS -->
<link rel="stylesheet" href="/GnCommon/css/custom_paging.css" type="text/css">

<!-- 기존 달력 -->
<link rel="stylesheet" href="/GnCommon/css/calendar-eraser_lim.css" type="text/css">
<link rel="stylesheet" href="/GnCommon/css/calender_jquery.css" type="text/css">
<!-- Gn 솔루션 자바스크립트 function -->
<script type='text/javascript' src='/GnCommon/js/javascript.js'></script>

<!-- jQuery 1.7 압축버젼 -->
<script type="text/javascript" src="/GnCommon/js/jquery-1.7.min.js"></script>

<!-- jQuery 애니메이션 (가속,탄력) 효과관련 추가 스크립트 -->
<script type="text/javascript" src="/GnCommon/js/jquery.easing.min.js"></script>

<!-- 모바일 카카오톡 링크 관련 -->
<script type='text/javascript' src='/GnCommon/js/kakao.link.js'></script>

<!-- 기존달력 -->
<script type='text/javascript' src='/GnCommon/js/calendar-eraser_lim.js'></script>


<title>Genesys Lab</title>
<!-- ------------------------------------------------------------- [ 디자>인 CSS 영역 - S ] ------------------------------------------------------------- -->

<link rel="stylesheet" href="/css/style.css" type="text/css">                   <!-- 디자인 CSS -->
<link rel="stylesheet" href="/css/style_ex1.css" type="text/css">               <!-- 추가 CSS -->
<link rel="stylesheet" href="/css/font.css" type="text/css">            <!-- 폰트 CSS -->

<!-- ------------------------------------------------------------- [ 디자>인 CSS 영역 - E ] ------------------------------------------------------------- -->
