		<div class="inner">
			<h1><a href="/"><img src="/images/banner3.jpg" alt="GENESYS LAB" /></a></h1>
			<div class="top_menu clfix">
				<% if ( session.isLogined == true ) { %>
                                  <span class="tm1">
				    <strong><%= session.user_name %></strong>님
				  </span>
				  <span class="tm3">
				    <a href="/logout">로그아웃</a>
				  </span>
                                <% } %>
				<span class="tm1"><a href="/"><img src="/images/home.png" alt="" />HOME</a></span>
				<span class="tm2"><a href="/sub.ejs?tbl=contact">CONTACT US</a></span>
				<span class="tm3"><a href="/sub.ejs?tbl=sitemap">SITEMAP</a></span>
			</div><!--// top_menu -->
			<ul id="gnb" class="clfix">
	<li><a href="/sub01/sub01.php">회사소개</a>
		<ul class="gnb_2depth gnb_2depth1">
			<li><a href="/sub01/sub02.php" style="font-size:12px">회사소개</a></li>
			<li><a href="/sub01/sub03.php">회사연혁</a></li>
			<li><a href="/sub01/sub04.php">조직구조</a></li>
		</ul>
	</li>
	<li><a href="/sub.ejs?tbl=professor">제품</a>
		<!-- <ul class="gnb_2depth gnb_2depth2">
			<li><a href="/sub02/sub01.php">Professor</a></li>
		</ul> -->
	</li>
	<li><a href="/bbs/board.php?tbl=candidate1">서비스</a>
		<ul class="gnb_2depth gnb_2depth3">
			<li><a href="/sub.ejs?tbl=candidate">메이커스페이스</a></li>
			<li><a href="/bbs/board.php?tbl=candidate2"></a></li>
			<li><a href="/bbs/board.php?tbl=alumni">서비스사례</a></li>
		</ul>
	</li>
	<li><a href="/bbs/board.php?tbl=journals">레퍼런스</a>
		<ul class="gnb_2depth gnb_2depth4">
			<li><a href="/bbs/board.php?tbl=journals">Journals</a></li>
			<li><a href="/bbs/board.php?tbl=presentations">Presentations</a></li>
			<li><a href="/bbs/board.php?tbl=patent">Patent</a></li>
		</ul>
	</li>
	<li><a href="/board.ejs?tbl=1&pageNum=1">커뮤니티</a>
		<ul class="gnb_2depth gnb_2depth5">
			<li><a href="/board.ejs?tbl=1&pageNum=1">공지사항</a></li>
			<li><a href="/board.ejs?tbl=2&pageNum=1">갤러리</a></li>
                        <li><a href="/board.ejs?tbl=3&pageNum=1">문의하기</a></li>

		</ul>
	</li>
</ul><!--// gnb -->

<script type="text/javascript">
	$('#gnb > li').hover(function(){
		$(this).find('.gnb_2depth').stop(true,true).fadeIn();
	}, function(){
		$(this).find('.gnb_2depth').stop(true,true).fadeOut();
	});
</script>		</div><!--// inner -->
