<div class="publication_area">
  <h2>PUBLICATION</h2>
  <a href="/sub.ejs?tbl=journals" class="btn_more"><img src="/images/btn_more.png" alt="PUBLICATION 더보기" /></a>
  <ul class="publication_list clfix">
    <% for (var i = 0; i < data_publication.length; i++) { %>
    <% if(i>2) { %>
      <% break; %>
    <% } %>
      <li>
      <a href="/sub.ejs?tbl=journals">
      <span class="btn_more_cont">MORE &gt;</span>
      <dl>
        <dt><%= "0" + (i+1) %></dt>
        <dd style="word-break:break-all;"><%= data_publication[i].content %></dd>
      </dl>
      </a>
      </li>
    <% } %>
  </ul>
</div><!--// publication_area -->
