<div class="inner">
<span class="path">HOME &nbsp;&gt;&nbsp;
<% if(tbl == "contact") { %>
CONTACT US &nbsp;&gt;&nbsp; <span>CONTACT US</span>
<% } else if(tbl == 'sitemap') { %>
<span>SITEMAP</span>
<% } else if(tbl == 'professor') { %>
<span>PROFESSOR</span>
<% } else if(tbl == 'candidate') { %>
<span>CANDIDATE</span>
<% } else if(tbl == 1) { %>
Board &nbsp;&gt;&nbsp;<span>Notice</span>
<% } else if(tbl == 2) { %>
Board &nbsp;&gt;&nbsp;<span>Gallery</span>
<% } else if(tbl == 3) { %>
Board &nbsp;&gt;&nbsp;<span>Free board</span>
<% } %>
</span>
</div><!--// inner -->
