<div class="inner">
<span class="path">HOME &nbsp;&gt;&nbsp;
<% if(tbl == "contact") { %>
<span>오시는길</span>
<% } else if(tbl == 'sitemap') { %>
<span>사이트맵</span>
<% } else if(tbl == 'info') { %>
회사소개 &nbsp;&gt;&nbsp;<span>회사소개</span>
<% } else if(tbl == 'history') { %>
회사소개 &nbsp;&gt;&nbsp;<span>회사연혁</span>
<% } else if(tbl == 'org') { %>
회사소개 &nbsp;&gt;&nbsp;<span>조직도</span>
<% } else if(tbl == 'product') { %>
제품 &nbsp;&gt;&nbsp;<span>제품</span>
<% } else if(tbl == 'service') { %>
서비스 &nbsp;&gt;&nbsp;<span>서비스소개</span>
<% } else if(tbl == 'case') { %>
서비스 &nbsp;&gt;&nbsp;<span>서비스사례</span>
<% } else if(tbl == 'reference') { %>
레퍼런스 &nbsp;&gt;&nbsp;<span>레퍼런스</span>
<% } else if(tbl == 'candidate') { %>
<span>CANDIDATE</span>
<% } else if(tbl == 1) { %>
커뮤니티 &nbsp;&gt;&nbsp;<span>공지사항</span>
<% } else if(tbl == 2) { %>
커뮤니티 &nbsp;&gt;&nbsp;<span>갤러리</span>
<% } else if(tbl == 3) { %>
커뮤니티 &nbsp;&gt;&nbsp;<span>문의하기</span>
<% } %>
</span>
</div><!--// inner -->
