<li><p style="background:url(/images/component/banner3_slide.png) top center no-repeat; height:610px;"></p></li>
<li><p style="background:url(/images/component/slide1.jpg) top center no-repeat; height:610px;"></p></li>
<li><p style="background:url(/images/component/slide2.jpg) top center no-repeat; height:610px;"></p></li>
<li><p style="background:url(/images/component/slide3.jpg) top center no-repeat; height:610px;"></p></li>
