<html>
<head>
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<script type="text/javascript">
function frm_check() {
  if(!frm_resadd.imgFile.value) {
    alert("이미지를 첨부해주세요.");
    return false;
  }
  else return true;
}
</script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">

        $(function() {
            $("#imgFile").on('change', function(){

                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                    $('#ex').attr('src', e.target.result);
                }
              reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
<body>
  <form action="/mod_mainslidemod" method="post" name="frm_mainslidemod" id="frm_mainslidemod" enctype="multipart/form-data">
  <input type="hidden" name="id" id="id" value="<%= data[0].orderid %>">
  <div class="center">
    <label><h3>IMAGE</h3>
    <img id="ex" src="<%= data[0].img %>" alt="" width="560px" height="245px">
    </label>
  </div>
  <div class="filebox">
    <input type="file" name="imgFile" id="imgFile">
  </div>
</div>
<input type="submit" name="submitForm" value="제출">
</form>
</body>
</html>
