<div class="publication_area">
  <h2>PUBLICATION</h2>
  <a href="/bbs/board.php?tbl=journals" class="btn_more"><img src="/images/main/btn_more.png" alt="PUBLICATION 더보기" /></a>
  <ul class="publication_list clfix">
<li>
<a href="/bbs/board.php?tbl=journals">
<span class="btn_more_cont">MORE &gt;</span>
<dl>
  <dt>01</dt>
  <dd style="word-break:break-all;">PIM-1-based carbon-sulfur composites for sodium-sulfur batteries that operate without the shuttle effect (Highlighted on Inside Back Cover)</dd>
</dl>
</a>
</li>
<li>
<a href="/bbs/board.php?tbl=journals">
<span class="btn_more_cont">MORE &gt;</span>
<dl>
  <dt>02</dt>
  <dd style="word-break:break-all;">Carbanization of Carboxylate-Functionalized Polymers of Intrinsic Microporosity for Water Treatment (Highlighted on Front Cover)</dd>
</dl>
</a>
</li>
<li>
<a href="/bbs/board.php?tbl=journals">
<span class="btn_more_cont">MORE &gt;</span>
<dl>
  <dt>03</dt>
  <dd style="word-break:break-all;">Enhanced cycle stability of rechargeable Li-O2 batteries using immobilized redox mediator on air cathode</dd>
</dl>
</a>
</li>

</ul>
</div><!--// publication_area -->
