
		<% if(tbl == 1) { %>

		<div class="sub_title">
                <h2>BOARD</h2>
                </div><!--// sub_title -->
       		<div class="lnb">
		<h3 class='on' ><a href="/board.ejs?tbl=1&pageNum=1"  class="over" ><span>Notice</span></a></h3>
                <h3 class='#none' ><a href="/board.ejs?tbl=2&pageNum=1"  ><span>Gallery</span></a></h3>

		<% } else if(tbl == 2) { %>

		<div class="sub_title">
                <h2>BOARD</h2>
                </div><!--// sub_title -->
                <div class="lnb">
		<h3 class='#none'><a href="/board.ejs?tbl=1&pageNum=1"   ><span>Notice</span></a></h3>
                <h3 class='on' ><a href="/board.ejs?tbl=2&pageNum=1"  class="over" ><span>Gallery</span></a></h3>

		<% } else if(tbl == "a") { %>
		<div class="sub_title">
                <h2 style="text-transform: uppercase;">RESEARCH</h2>
                </div><!--// sub_title -->
                <div class="lnb">
									<h3 class='on' ><a href="/sub.ejs?tbl=a"  class="over" ><span>a</span></a></h3>
	                <h3 class='#none' ><a href="/sub.ejs?tbl=b"  ><span>b</span></a></h3>
	                <h3 class='#none' ><a href="/sub.ejs?tbl=c"><span>c</span></a></h3>
		<% } else if(tbl == "b") { %>
		<div class="sub_title">
                <h2 style="text-transform: uppercase;">RESEARCH</h2>
                </div><!--// sub_title -->
                <div class="lnb">
									<h3 class='#none' ><a href="/sub.ejs?tbl=info"><span>a</span></a></h3>
	                <h3 class='on' ><a href="/sub.ejs?tbl=history"  class="over" ><span>b</span></a></h3>
	                <h3 class='#none' ><a href="/sub.ejs?tbl=org"><span>c</span></a></h3>
		<% } else if(tbl == "c") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">RESEARCH</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='#none' ><a href="/sub.ejs?tbl=info"><span>a</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=history"  ><span>b</span></a></h3>
									<h3 class='on' ><a href="/sub.ejs?tbl=org"  class="over" ><span>c</span></a></h3>
		<% } else if(tbl == "professor") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">PROFESSOR</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='on' ><a href="/sub.ejs?tbl=professor"  class="over" ><span>PROFESSOR</span></a></h3>
		<% } else if(tbl == "candidate1") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">MEMBERS</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='on' ><a href="/sub.ejs?tbl=candidate1"  class="over" ><span>Ph.D. Candidate</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=candidate2"><span>M.S Candidate</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=alumni"><span>Alumni</span></a></h3>

		<% } else if(tbl == "candidate2") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">MEMBERS</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='#none' ><a href="/sub.ejs?tbl=candidate1"><span>Ph.D. Candidate</span></a></h3>
									<h3 class='on' ><a href="/sub.ejs?tbl=candidate2"  class="over" ><span>M.S Candidate</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=alumni"><span>Alumni</span></a></h3>
		<% } else if(tbl == "alumni") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">MEMBERS</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='#none' ><a href="/sub.ejs?tbl=candidate1"><span>Ph.D. Candidate</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=candidate2"><span>M.S Candidate</span></a></h3>
									<h3 class='on' ><a href="/sub.ejs?tbl=alumni"  class="over" ><span>Alumni</span></a></h3>
		<% } else if(tbl == "journals") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">PUBLICATION</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='on' ><a href="/sub.ejs?tbl=journals" class="over" ><span>Journals</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=presentations"><span>Presentations</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=patent"><span>Patent</span></a></h3>
		<% } else if(tbl == "presentations") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">PUBLICATION</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='#none' ><a href="/sub.ejs?tbl=journals"><span>Journals</span></a></h3>
									<h3 class='on' ><a href="/sub.ejs?tbl=presentations" class="over" ><span>Presentations</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=patent"><span>Patent</span></a></h3>
		<% } else if(tbl == "patent") { %>
		<div class="sub_title">
								<h2 style="text-transform: uppercase;">PUBLICATION</h2>
								</div><!--// sub_title -->
								<div class="lnb">
									<h3 class='#none' ><a href="/sub.ejs?tbl=journals"><span>Journals</span></a></h3>
									<h3 class='#none' ><a href="/sub.ejs?tbl=presentations"><span>Presentations</span></a></h3>
									<h3 class='on' ><a href="/sub.ejs?tbl=patent"  class="over" ><span>Patent</span></a></h3>

		<% } else if(tbl == "contact") { %>
			<div class="sub_title">
									<h2 style="text-transform: uppercase;">CONTACT US</h2>
									</div><!--// sub_title -->
									<div class="lnb">
		<% } else if(tbl == "sitemap") { %>
			<div class="sub_title">
									<h2 style="text-transform: uppercase;">SITEMAP</h2>
									</div><!--// sub_title -->
									<div class="lnb">
		<% } %>

		</div>
