<% if (tbl == 'contact') { %>
			<div class="contop">
				<h3 class="page_title">오시는길</h3>
				<p>CUSTOM LAB.</p>
			</div><!--// contop -->
			<div class="conbody">
			<div id="map" class="map">
          </div>
        	<script>
        		var container = document.getElementById('map');
        		var options = {
        			center: new kakao.maps.LatLng(36.63353729102109, 127.45332042697082),
        			level: 3
        		};

        		var map = new kakao.maps.Map(container, options);
            var markerPosition  = new kakao.maps.LatLng(36.63353729102109, 127.45332042697082);
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                  position: markerPosition
                });
            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 커스텀 오버레이에 표시할 내용입니다
            // HTML 문자열 또는 Dom Element 입니다
            var content = '<div class ="overlay"><span class="left"></span><span class="center">            <a href="https://map.kakao.com/link/to/Genesys,36.62883224146073, 127.45657148318668" style="color:blue;text-decoration:none;" target="_blank">길찾기</a></span><span class="right"></span></div>';

            // 커스텀 오버레이가 표시될 위치입니다
            var position = new kakao.maps.LatLng(36.63353729102109, 127.45332042697082);

            // 커스텀 오버레이를 생성합니다
            var customOverlay = new kakao.maps.CustomOverlay({
                position: position,
                content: content
            });

            // 커스텀 오버레이를 지도에 표시합니다
            customOverlay.setMap(map);
          </script>
          <div style="text-align:right;">
          </div>
	    <p class="mt10" style='margin-top:10px;text-align:center;'>
	      충청북도 청주시 흥덕구 복대동 872-10 2층
	    </p>
	  </div><!--// conbody -->
<% } else if(tbl == 'sitemap') { %>
	<div class="contop">
	<h3 class="page_title">사이트맵</h3>
	<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
	<div class="site_wrap">
	<dl class="site_con">
		<dt>회사소개</dt>
		<dd><a href="/sub.ejs?tbl=info">회사소개</a></dd>
<dd><a href="/sub.ejs?tbl=history">회사연혁</a></dd>
<dd><a href="/sub.ejs?tbl=org">조직도</a></dd>
	</dl>
	<dl class="site_con">
		<dt>제품</dt>
		<dd><a href="/sub.ejs?tbl=product">제품소개</a></dd>
	</dl>

	<dl class="site_con  margin_0">
		<dt>서비스</dt>
		<dd><a href="/sub.ejs?tbl=service">서비스소개</a></dd>
		<dd><a href="/sub.ejs?tbl=case">서비스사례</a></dd>
</div>



<div class="site_wrap mt30">
		<dl class="site_con">
		<dt>레퍼런스</dt>
		<dd><a href="/sub.ejs?tbl=reference">레퍼런스</a></dd>
	</dl>
	<dl class="site_con ">
		<dt>커뮤니티</dt>
		<dd><a href="board.ejs?tbl=1&pageNum=1">공지사항</a></dd>
		<dd><a href="board.ejs?tbl=2&pageNum=1">갤러리</a></dd>
		<dd><a href="board.ejs?tbl=3&pageNum=1">문의하기</a></dd>
	</dl>
</div>

<style type="text/css">
/*»çÀÌÆ®¸Ê*/
.site_wrap {width:100%;margin-bottom:30px; text-align:left;}
.site_con {width:230px;float:left;margin-right:65px; margin-top:10px;}
.site_con dt {margin-bottom:5px; font-size:17px; color:#0a82a8;padding-bottom:10px;  font-weight:bold; border-bottom:2px solid #0a82a8;line-height:45px; height:35px; padding-left:10px; text-align:left; padding-left:0px;}

.site_con dd {font-size:13px; color:#666;text-align:left; padding-left:3px; border-bottom:1px solid #ccc; line-height:36px; padding-left:10px;  font-weight:bold; background:url(/images/sub01/dot_li.jpg)no-repeat 10px 14px; padding-left:2px; }
.site_con dd a {color:#666;}
.site_con dd a:hover {color:#009ed0;text-decoration:none;}
.baby_o{font-size:12px;color:#666;line-height:22px; padding-left:15px; padding-top:6px;}
.site_con span {background-color:#ffffff; }
.site_con dd .baby_o a:hover {color:#009ed0;text-decoration:underline; font-weight:normal}

.site_con ul{background-color:#f8f8f8; border-bottom:1px solid #ccc; padding-bottom:7px;}


.margin_0 {margin-right:0;}

.site_wrap:after { /* after */
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden;
}
*html .site_wrap  { height:1%;} /* IE5, IE6 À» À§ÇÑ ±ÔÄ¢ */
*:first-child+html .site_wrap   { height:1%;} /* IE7 À» À§ÇÑ ±ÔÄ¢ */

</style>
</div><!--// conbody -->
<% } else if(tbl == "info") { %>
	<div class="contop">
		<h3 class="page_title">회사소개</h3>
		<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
	</div>
<% } else if(tbl == "history") { %>
	<div class="contop">
		<h3 class="page_title">회사연혁</h3>
		<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
		<div class="year_tab">
			<div class="year_tab_inWrap">
				<ul class="year_tab_list" style="width: 1785px; left: 0px;">
					<li>
					<!-- <a href="/bbs/board.php?tbl=patent&category=2020" > -->
					<a href="javascript:iframe_url('/years?year=2020');" class="on">
					2020</a>
					</li>
				</ul>
			</div>
			<p class="prev_btn"><img src="/images/pro_btn.jpg" alt=""></p>
			<p class="next_btn"><img src="/images/next_btn.jpg" alt=""></p>
		</div>

		<script type="text/javascript">
		<!--

		//-->
		</script>

		<iframe name="board_iframe" id="board_iframe" src="/years?year=2020" frameborder="0" width="100%" scrolling="no" onload="autoResize('board_iframe')" height="863px"></iframe>
		<style type="text/css">
		.year_tab{width:100%; margin:0 auto; position:relative; overflow:hidden;}
		.year_tab_inWrap{width:735px; margin:0 auto; position:relative; overflow:hidden; }
		.year_tab ul.year_tab_list {height:45px;  white-space: nowrap; padding: 0px; position: relative; margin:0 auto; font-size:0; }
		.year_tab ul.year_tab_list li{display: inline-block;  vertical-align:middle; font-size:14px; font-weight:600; color:#bbb; height:45px;  line-height:45px; margin:0 5px; text-align:center; width:95px; text-align:center; cursor:pointer; box-sizing:border-box;}
		.year_tab ul.year_tab_list li:hover{color:#383838; }
		.year_tab ul.year_tab_list li a.on{ font-size:18px; font-weight:600; color:#383838;  line-height:45px}
		.year_tab .prev_btn{float:left; position:absolute; left:0; top:1px; cursor:pointer;}
		.year_tab .next_btn{position:absolute; right:0; top:1px; cursor:pointer;}
		.down_btn{display:inline-block; width:105px; height:30px;background-color:#a1a1a1; color:#fff; font-size:12px; font-weight:600; text-align:center; line-height:30px}
		.link_btn{display:inline-block;  width:105px; height:30px; background-color:#a4b2bd; color:#fff; font-size:12px; font-weight:600; text-align:center; line-height:30px}
		</style>
		<script type="text/javascript">
		$(function(){
			//$( ".year_tab_list" ).draggable({ axis: "x" });
			var wrprwdth = $('.year_tab').width(),
				ulwdth = 0,
				lilength = $('.year_tab_list li').length,
				liwidth = parseInt($('.year_tab_list li').width() + 10),
				moveleft = 0;
			$(window).resize(function(){
			   wrprwdth = $('.year_tab').width();
			   if(parseInt(ulwdth - wrprwdth) <= parseInt(moveleft) - 95){
					moveleft = parseInt(ulwdth - wrprwdth);
				   $('.year_tab_list').stop().animate({left : parseInt('-' + moveleft)},800);
				 return false;
				}
			});
			// Get all list item Width;
			// $('.year_tab_list li').each(function(){
			//	 ulwdth += $(this).width() + 8;
			//  });

			// Set ul Width;
			ulwdth += liwidth * lilength;
			$('.year_tab_list').width(ulwdth);
			moveleft = 0;
			$('.year_tab_list').stop().animate({left : parseInt(moveleft)});

			//Prev button click function
			$('.prev_btn').click(function(){
				if(parseInt(moveleft)<=0){
					moveleft = 0;
				   $('.year_tab_list').stop().animate({left : parseInt(moveleft)},800);
				 return false;
				}else{
					moveleft -= ulwdth/lilength;
					$('.year_tab_list').stop().animate({left : parseInt('-'+moveleft)},800);
				}
			});
			//Next button click function
			$('.next_btn').click(function(){
				if(parseInt(ulwdth - wrprwdth) <= parseInt(moveleft -95 )){
					moveleft = parseInt(ulwdth - wrprwdth);
				   $('.year_tab_list').stop().animate({left : parseInt('-' + moveleft)},800);
				 return false;
				}else{
					moveleft += ulwdth/lilength;
					$('.year_tab_list').stop().animate({left : parseInt('-' + moveleft)},800);
				}
			});
			/*2017-03-16 kh 추가 년도 카테고리 활성화*/
			$('.year_tab_list li a').click(function(){
				$('.year_tab_list li a').removeClass('on');
				$(this).addClass('on');
			});
			/*2017-03-16 kh 추가 년도 카테고리 활성화*/
		});
		</script>
	</div>
	<% } else if(tbl == "org") { %>
	<div class="contop">
		<h3 class="page_title">조직도</h3>
		<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
	</div>
	<% } else if(tbl == 'product') {  %>
	<div class="contop">
		<h3 class="page_title">제품</h3>
		<p>Genesys Lab.</p>
	</div><!--// contop -->
	<div class="conbody">
		<div id="DivContents">
			<div class="professor01">
				<div class="p_pic md20 mt20">
					<img alt="" src="/images/sub/img0201.jpg">
				</div>
				<div class="p_basic">

					<dl>
						<dt class="mt18">Jong-Chan Lee Ph.D.</dt>
						<dd>
							<ul>
								<li>School of Chemical and Biological Engineering</li>
								<li>Seoul National University Professor</li>
							</ul>
						</dd>
						<dd><em>Tel.</em> +82-2-880-7070</dd>
						<dd><em>Fax.</em> +82-2-880-8899</dd>
						<dd><a href="mailto:jongchan@snu.ac.kr">jongchan@snu.ac.kr</a> </dd>
					</dl>
				</div>
			</div>

			<h4 class="h4_title mt30">Education</h4>
			<h5 class="h5_title mt10">Ph.D. Case Western Reserve University, 1992-1996</h5>
			<h5 class="h5_title">M.S. Seoul National University, 1989-1991</h5>
			<h5 class="h5_title">B.S. Seoul National University, 1985-1989</h5>

			<h4 class="h4_title mt60">PROFESSIONAL EXPERIENCE</h4>
			<h5 class="h5_title mt10">School of Chemical and Biological Engineering, Seoul National University, 1999-present </h5>
				<ul class="md35">
					<li> - Professor</li>
					<li> - Associate Professor</li>
					<li> - Assistant Professor</li>
				</ul>

			<h5 class="h5_title mt20">University of Massachusetts-Amherst, 2005-2006</h5>
				<ul class="md35">
					<li>   - Visiting Professor</li>
				</ul>
			<h5 class="h5_title mt20">LG Chem, 2012-2013</h5>
				<ul class=" md35">
					<li>- Technical Adviser</li>
				</ul>
			<h5 class="h5_title mt20">Liquid Crystal Institute, 1998-1999</h5>
				<ul class="md35">
					<li>- Postdoctoral Researcher </li>
				</ul>
			<h5 class="h5_title mt20">Case Western Reserve University, 1996-1998</h5>
				<ul class="md35">
					<li>- Research Associate </li>
				</ul>
			<h5 class="h5_title mt20">KIST, 1991-1992</h5>
				<ul class="md35">
					<li>- Researcher</li>
				</ul>
		</div>
	</div><!--// conbody -->
<% } else if(tbl == "service") { %>
	<div class="contop">
		<h3 class="page_title">서비스소개</h3>
		<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
	</div>
<% } else if(tbl == "case") { %>
	<div class="contop">
		<h3 class="page_title">서비스사례</h3>
		<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
	</div>
<% } else if(tbl == "reference") { %>
	<div class="contop">
		<h3 class="page_title">레퍼런스</h3>
		<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
	</div>
<% } else if(tbl == "candidate") { %>
	<div class="contop">
		<h3 class="page_title">PH.D. CANDIDATE</h3>
		<p>Genesys Lab.</p>
	</div><!--// contop -->
	<div class="conbody">
<style>
.tit {font-weight:bold;color:#666666;text-align:center;}
.bbs_categ {line-height:22px;}
.bbs_categ  td {line-height:24px; height:24px; color:#c2c2c2; text-decoration:none;}
.bbs_categ  td a:hover{line-height:24px; height:24px; color:#f26731; text-decoration:none;}
.sub_dot{background:url('/images/sub/sub_dot.jpg') 0 4px no-repeat; padding-left:12px; vertical-align:top;}
.bbs_btn{width:80px; height:27px; background:#ffffff; color:#111; font-weight:bold; border:1px solid #dbdbdb; text-align:center; line-height:25px; display:inline-block;}
</style>
					<div class="mem_skin ">
				<div class="mem_img">
					<div style="display:table; width:125px; height:160px; #position:relative; overflow:hidden;">
						<div style="#position:absolute; #top:50%; #left:50%; display:table-cell; vertical-align:middle; text-align:center;">
							<div style="#position:relative; #top:-50%; #left:-50%;">
								<img src="/bbs/data/candidate1/sum_9a069864_C8ABC7F6B1E2.png" style="max-width:125px; max-height:160px;" >
							</div>
						</div>
					</div>
				</div>
				<div class="mem_cont md30">
					<table width="100%" cellpadding="0" cellspacing="0" class="mem_table ">
						<colgroup>
						<col width="20%">
						</colgroup>
						<tr>
							<th colspan="2">
														홍현기(Hyunkee Hong)
														</th>
						</tr>
						<tr>
							<td class="t_1">E-mail</td>
							<td>smilehhk@hanmail.net</td>
						</tr>
						<tr>
							<td  class="t_1">Research area </td>
							<td>
								<div style="word-break:break-all;">
									Synthesis of Antifouling Polymers								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
</div>
<% } %>
