<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/style.css" type="text/css">			<!-- 디자인 CSS -->
</head>
<script type="text/javascript">
  window.onload = function searchParam(key) {
    return new URLSearchParams(location.search).get(key);
  };
</script>
<body>
  <div id="boardContent">
<% for(var i = 0;i<data.length;i++) { %>
	   <table width="100%" cellpadding="0" cellspacing="0" border="0" class="pub_table mt40">
			<colgroup>
        <col width="6%">
        <col width="*">
              </colgroup>
        <tr>
				<th><%= i %></th>
				<td>
					<p class="pint01">
										<%= data[i].month %>
                    <br>
                    <%= data[i].content %>
          </p>
          </td>
				</tr>
								</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
		<tr>
			<td height="50" align="left">
							</td>
			<td height="50" align="right">
									</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<div class="paginate mt20">
					<ul>
											</ul>
				</div>
						</td>
		</tr>
	</table>
<% } %>
</div>
<style type="text/css">
.year_tab{width:100%; margin:0 auto; position:relative; overflow:hidden;}
.year_tab_inWrap{width:735px; margin:0 auto; position:relative; overflow:hidden; }
.year_tab ul.year_tab_list {height:45px;  white-space: nowrap; padding: 0px; position: relative; margin:0 auto; font-size:0; }
.year_tab ul.year_tab_list li{display: inline-block;  vertical-align:middle; font-size:14px; font-weight:600; color:#bbb; height:45px;  line-height:45px; margin:0 5px; text-align:center; width:95px; text-align:center; cursor:pointer; box-sizing:border-box;}
.year_tab ul.year_tab_list li:hover{color:#383838; }
.year_tab ul.year_tab_list li.on{ font-size:18px; font-weight:600; color:#383838;  line-height:45px}
.year_tab .prev_btn{float:left; position:absolute; left:0; top:1px; cursor:pointer;}
.year_tab .next_btn{position:absolute; right:0; top:1px; cursor:pointer;}
.down_btn{background:url(/images/sub/down_btn.jpg) no-repeat; width:91px; height:30px;color:#005dab; font-size:12px; font-weight:600; text-align:center; line-height:30px}
.link_btn{background:url(/images/sub/down_btn.jpg) no-repeat; width:91px; height:30px;  color:#005dab; font-size:12px; font-weight:600; text-align:center; line-height:30px}
.link_btn a{background:url(/images/sub/down_btn.jpg) no-repeat;width:91px; height:30px; color:#005dab; font-size:12px; font-weight:600; text-align:center; line-height:30px}
.pint01{ font-size:14px; font-weight:800; color:#111;}
</style>
</body>
</html>
